@import 'styles/spectate';

// @import 'styles/eye-lead-ellipsis';
// @import 'styles/news-ellipsis';

.graphic-name {
  height: 300px;
  border: 1px solid red;
  color: red;
}

body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/**
* Create a position for the map
* on the page */

.parent {
  position:relative;
}

#singleStoreFront, #multiStoreFront, #freeRent {
  width: 500px;
  height: 650px;
  margin: 10px;
}


/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  top: 36px;
  left: 35px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Roboto;
  overflow: auto;
  border-radius: 3px;
  padding: 4px;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}